*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 250px;
}

.finalizado{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

h2{
    color: #FF914D;
    font-weight: normal;
}

button{
    width: 200px;
    height: 50px;
    border-radius: 32px;
    background-color: #FF914D;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: #A3592B;
    transition: 0.2s;
}